<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="WznyTvT7BxToVS-FvHH9x5cX1SffNnYUGs-h5B3dIqU" />
  <meta name="keywords" content="Asaf Lecht, אסף לכט, AI, Data Engineering, Python, TypeScript, Automation, RAG, Hebrew, Developer Blog" />
  <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>AL</text></svg>" />
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}
</head>
